@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* MANTIENE TODO EL CONTENIDO DE LA WEB DENTRO DEL TAMAÑO DE LA PANTALLA */ }

/*lo incluí en el archivo _media-mobile.scss en la seccion de las cart´s*/
/*lo incluí en el archivo _footer.scss*/
/*lo incluí en el archivo _main-contacto.scss*/
.body {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 80px;
  grid-template-areas: "header" "main" "footer"; }
  .body .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 184, 193, 0.7);
    position: fixed;
    width: 100%;
    height: 50px; }
  .body .main {
    grid-area: main;
    background-image: url("../assets/Fondo/Fondo 01.jpg"); }
  .body .footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.7); }

/* MODIFICACIONES PARA CUERPO DE PAGINAS */
#cuerpo-paginas {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  background-color: rgba(212, 212, 212, 0.3);
  font-family: 'ABeeZee', sans-serif;
  border-radius: 10px; }

.cuerpo-paginas-titulo {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(255, 184, 193, 0.3); }

.encabezado-logo {
  margin-left: 10px;
  width: 40px; }

.encabezado-titulo {
  display: inline-block;
  list-style: none;
  text-align: center;
  width: 120px;
  font-family: "Dancing Script", cursive; }
  .encabezado-titulo .titulo {
    font-style: italic;
    font-weight: bold;
    font-size: 25px; }
  .encabezado-titulo .subtitulo {
    font-style: italic;
    font-weight: lighter;
    font-size: 15px; }

.pages {
  margin-right: 10px; }
  .pages .pages-titulo {
    text-decoration: none;
    color: black;
    margin: 5px;
    font-style: italic;
    font-family: 'Abel', sans-serif; }

.desplegable {
  display: none; }

/* CART DE PRODUCTOS */
.cuerpo-paginas-cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px; }
  .cuerpo-paginas-cart .cart {
    width: 200px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 30px 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(212, 212, 212, 0.7);
    border-radius: 10px; }
    .cuerpo-paginas-cart .cart .cart-imagen-container {
      margin: 10px;
      margin-bottom: 0px;
      width: 180px;
      height: 180px;
      align-self: center;
      justify-self: center;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px; }
      .cuerpo-paginas-cart .cart .cart-imagen-container .cart-imagen {
        width: 100%;
        border-radius: 5px; }
    .cuerpo-paginas-cart .cart .cart-cuerpo {
      margin: 10px;
      margin-top: 5px; }
      .cuerpo-paginas-cart .cart .cart-cuerpo .cart-titulo {
        margin: 5px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        text-decoration: underline; }
      .cuerpo-paginas-cart .cart .cart-cuerpo .cart-description {
        display: inline-block;
        list-style: none;
        margin: auto;
        font-size: 10px;
        text-align: left; }
    .cuerpo-paginas-cart .cart .container-precio {
      margin: 10px; }
      .cuerpo-paginas-cart .cart .container-precio .cart-precio {
        font-size: 15px;
        text-align: left;
        font-weight: bold; }
    .cuerpo-paginas-cart .cart .container-boton {
      margin: 10px;
      margin-bottom: 20px;
      align-self: center;
      justify-self: center; }
      .cuerpo-paginas-cart .cart .container-boton .cart-boton {
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: lighter;
        font-size: 12px;
        color: black;
        width: 100px;
        height: 20px;
        background-color: rgba(224, 255, 255, 0.3);
        border-radius: 10px;
        border-style: none; }

/* FORMULARIO DE CARRITO */
.cuerpo-paginas-carrito {
  margin: 25px;
  text-decoration: none; }
  .cuerpo-paginas-carrito .seguir-comprando {
    text-decoration: none;
    color: black;
    text-align: left;
    font-style: italic;
    text-decoration: underline; }
  .cuerpo-paginas-carrito .carrito-productos {
    margin-top: 25px; }
    .cuerpo-paginas-carrito .carrito-productos .caja-productos {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      text-align: left;
      margin: 10px;
      background-color: rgba(212, 212, 212, 0.7);
      border-radius: 10px; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen {
        padding: 5px;
        padding-right: 15px; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen .imagen img {
          width: 60px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 5px; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-productos-textos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio {
        display: flex;
        justify-content: space-between; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .tiutloproducto {
          padding: 5px;
          font-size: 18px;
          text-decoration: underline; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .precio {
          padding: 5px;
          font-size: 18px;
          font-weight: bold; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad {
        display: flex;
        justify-content: space-between; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .quitar {
          padding: 5px;
          cursor: pointer;
          font-size: 12px;
          border-radius: 0.6em;
          border: 0px;
          outline: 0px;
          text-align: center;
          background-color: inherit;
          color: #ff7a7a;
          text-decoration: underline; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad {
          padding: 5px; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .cantidad h6 {
            font-size: 12px;
            font-weight: lighter; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .restar {
            padding-left: 5px;
            padding-right: 5px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 0.6em;
            border: 0px;
            outline: 0px;
            text-align: center;
            background-color: inherit;
            color: #ff7a7a; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .sumar {
            padding-left: 5px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 0.6em;
            border: 0px;
            outline: 0px;
            text-align: center;
            background-color: inherit;
            color: #ff7a7a; }
  .cuerpo-paginas-carrito .linea {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    height: 3px;
    flex-shrink: 0;
    background-color: rgba(212, 212, 212, 0.7);
    list-style: none; }
  .cuerpo-paginas-carrito .subtotal-caja {
    list-style: none;
    margin: 0 10px 10px 10px; }
    .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos {
      display: flex;
      justify-content: flex-end;
      font-size: 18px;
      font-weight: bold; }
      .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .subtotal {
        padding: 5px;
        padding-right: 10%; }
      .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .numero {
        padding: 5px; }
  .cuerpo-paginas-carrito .boton-comprar {
    padding-bottom: 25px;
    list-style: none;
    text-align: center; }
    .cuerpo-paginas-carrito .boton-comprar .boton {
      padding: 5px;
      cursor: pointer;
      font-size: 15px;
      outline: 0px;
      text-align: center;
      font-weight: lighter;
      background-color: rgba(212, 212, 212, 0.7);
      border-color: #919191;
      border-style: solid;
      border-radius: 10px;
      border-radius: 5px; }

/* FORMULARIO DE CONTACTO */
.container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .container .formulario {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
    flex-wrap: wrap;
    background-color: rgba(212, 212, 212, 0.7);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .container .formulario .formulario-texto {
      font-size: 12px;
      align-self: flex-start;
      margin-top: 10px;
      margin-left: 25px;
      font-style: italic;
      font-weight: lighter; }
    .container .formulario .formulario-bloques {
      width: 90%;
      height: 25px;
      margin: 5px;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.2);
      border: 0px;
      outline: 0px; }
    .container .formulario .mensaje {
      height: 150px; }
    .container .formulario .formulario-boton {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 30px;
      width: 20%;
      text-align: center;
      font-weight: lighter;
      border-color: #919191;
      border-style: solid;
      border-radius: 10px;
      background-color: rgba(212, 212, 212, 0.6);
      cursor: pointer; }

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-left: 10px; }
  .footer-logo .footer-logo-imagen {
    width: 40px; }
  .footer-logo .footer-logo-texto {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 120px;
    font-family: "Dancing Script", cursive; }
    .footer-logo .footer-logo-texto .logo-titulo {
      font-style: italic;
      font-weight: bold; }
    .footer-logo .footer-logo-texto .logo-subtitulo {
      font-style: italic;
      font-weight: lighter; }

.footer-horarios-lista {
  list-style: none;
  text-align: center;
  width: 200px;
  font-size: 13px;
  font-weight: lighter;
  font-family: 'ABeeZee', sans-serif; }
  .footer-horarios-lista .lista-titulo {
    text-decoration: underline;
    font-weight: bold;
    font-size: 15px; }

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  /*display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;*/
  font-size: 12px;
  font-family: 'ABeeZee', sans-serif;
  font-weight: lighter; }

.footer-social-red {
  margin-right: 10px;
  margin-top: 10px; }

.footer-social-red img {
  width: 13px;
  cursor: pointer; }

.footer-social-red label {
  margin: 10px;
  cursor: pointer; }

.footer-social-red a {
  text-decoration: none;
  color: black; }

/* RESPONSIVE TABLET */
@media (max-width: 768px) {
  .body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 80px;
    grid-template-areas: "header" "main" "footer"; }
    .body .header {
      grid-area: header;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 184, 193, 0.7);
      position: fixed;
      width: 100%;
      height: 50px; }
    .body .main {
      grid-area: main;
      background-image: url("../assets/Fondo/Fondo 01.jpg"); }
    .body .footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(212, 212, 212, 0.7); }
  /* MODIFICACIONES PARA EL HEADER */
  .encabezado-logo {
    margin-left: 10px;
    width: 40px; }
  .encabezado-titulo {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 120px;
    font-family: "Dancing Script", cursive; }
    .encabezado-titulo .titulo {
      font-style: italic;
      font-weight: bold;
      font-size: 25px; }
    .encabezado-titulo .subtitulo {
      font-style: italic;
      font-weight: lighter;
      font-size: 15px; }
  .pages {
    margin-right: 10px; }
    .pages .pages-titulo {
      text-decoration: none;
      color: black;
      margin: 5px;
      font-style: italic;
      font-family: 'Abel', sans-serif; }
  .desplegable {
    display: none; }
  /* MODIFICACIONES PARA CUERPO DE PAGINAS */
  #cuerpo-paginas {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    background-color: rgba(212, 212, 212, 0.3);
    font-family: 'ABeeZee', sans-serif;
    border-radius: 10px; }
  .cuerpo-paginas-titulo {
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 184, 193, 0.3); }
  /* CART DE PRODUCTOS */
  .cuerpo-paginas-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px; }
    .cuerpo-paginas-cart .cart {
      width: 200px;
      height: 400px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 30px 40px;
      margin-top: 25px;
      margin-bottom: 25px;
      background-color: rgba(212, 212, 212, 0.7);
      border-radius: 10px; }
      .cuerpo-paginas-cart .cart .cart-imagen-container {
        margin: 10px;
        margin-bottom: 0px;
        width: 180px;
        height: 180px;
        align-self: center;
        justify-self: center;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px; }
        .cuerpo-paginas-cart .cart .cart-imagen-container .cart-imagen {
          width: 100%;
          border-radius: 5px; }
      .cuerpo-paginas-cart .cart .cart-cuerpo {
        margin: 10px;
        margin-top: 5px; }
        .cuerpo-paginas-cart .cart .cart-cuerpo .cart-titulo {
          margin: 5px;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          text-decoration: underline; }
        .cuerpo-paginas-cart .cart .cart-cuerpo .cart-description {
          display: inline-block;
          list-style: none;
          margin: auto;
          font-size: 10px;
          text-align: left; }
      .cuerpo-paginas-cart .cart .container-precio {
        margin: 10px; }
        .cuerpo-paginas-cart .cart .container-precio .cart-precio {
          font-size: 15px;
          text-align: left;
          font-weight: bold; }
      .cuerpo-paginas-cart .cart .container-boton {
        margin: 10px;
        margin-bottom: 20px;
        align-self: center;
        justify-self: center; }
        .cuerpo-paginas-cart .cart .container-boton .cart-boton {
          padding: 5px;
          text-align: center;
          text-decoration: none;
          font-weight: lighter;
          font-size: 12px;
          color: black;
          width: 100px;
          height: 20px;
          background-color: rgba(224, 255, 255, 0.3);
          border-radius: 10px;
          border-style: none; }
  /* FORMULARIO DE CONTACTO */
  .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .formulario {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
      flex-wrap: wrap;
      background-color: rgba(212, 212, 212, 0.7);
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .container .formulario .formulario-texto {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 10px;
        margin-left: 25px;
        font-style: italic;
        font-weight: lighter; }
      .container .formulario .formulario-bloques {
        width: 90%;
        height: 25px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 0px;
        outline: 0px; }
      .container .formulario .mensaje {
        height: 150px; }
      .container .formulario .formulario-boton {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 20%;
        text-align: center;
        font-weight: lighter;
        border-color: #919191;
        border-style: solid;
        border-radius: 10px;
        background-color: rgba(212, 212, 212, 0.6);
        cursor: pointer; }
  /* MAIN DE CARRITO */
  .cuerpo-paginas-carrito {
    margin: 25px;
    text-decoration: none; }
    .cuerpo-paginas-carrito .seguir-comprando {
      text-decoration: none;
      color: black;
      text-align: left;
      font-style: italic;
      text-decoration: underline; }
    .cuerpo-paginas-carrito .carrito-productos {
      margin-top: 25px; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin: 10px;
        background-color: rgba(212, 212, 212, 0.7);
        border-radius: 10px; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen {
          padding: 5px;
          padding-right: 15px; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen .imagen img {
            width: 60px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-productos-textos {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio {
          display: flex;
          justify-content: space-between; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .tiutloproducto {
            padding: 5px;
            font-size: 18px;
            text-decoration: underline; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .precio {
            padding: 5px;
            font-size: 18px;
            font-weight: bold; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad {
          display: flex;
          justify-content: space-between; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .quitar {
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            border-radius: 0.6em;
            border: 0px;
            outline: 0px;
            text-align: center;
            background-color: inherit;
            color: #ff7a7a;
            text-decoration: underline; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad {
            padding: 5px; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .cantidad h6 {
              font-size: 12px;
              font-weight: lighter; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .restar {
              padding-left: 5px;
              padding-right: 5px;
              cursor: pointer;
              font-size: 20px;
              border-radius: 0.6em;
              border: 0px;
              outline: 0px;
              text-align: center;
              background-color: inherit;
              color: #ff7a7a; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .sumar {
              padding-left: 5px;
              cursor: pointer;
              font-size: 20px;
              border-radius: 0.6em;
              border: 0px;
              outline: 0px;
              text-align: center;
              background-color: inherit;
              color: #ff7a7a; }
    .cuerpo-paginas-carrito .linea {
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      height: 3px;
      flex-shrink: 0;
      background-color: rgba(212, 212, 212, 0.7);
      list-style: none; }
    .cuerpo-paginas-carrito .subtotal-caja {
      list-style: none;
      margin: 0 10px 10px 10px; }
      .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos {
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: bold; }
        .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .subtotal {
          padding: 5px;
          padding-right: 10%; }
        .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .numero {
          padding: 5px; }
    .cuerpo-paginas-carrito .boton-comprar {
      padding-bottom: 25px;
      list-style: none;
      text-align: center; }
      .cuerpo-paginas-carrito .boton-comprar .boton {
        padding: 5px;
        cursor: pointer;
        font-size: 15px;
        outline: 0px;
        text-align: center;
        background-color: rgba(212, 212, 212, 0.7);
        border-radius: 5px; }
  /* MODIFICACIONES PARA EL FOOTER */
  .footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-left: 10px; }
    .footer-logo .footer-logo-imagen {
      width: 40px; }
    .footer-logo .footer-logo-texto {
      display: inline-block;
      list-style: none;
      text-align: center;
      width: 120px;
      font-family: "Dancing Script", cursive; }
      .footer-logo .footer-logo-texto .logo-titulo {
        font-style: italic;
        font-weight: bold; }
      .footer-logo .footer-logo-texto .logo-subtitulo {
        font-style: italic;
        font-weight: lighter; }
  .footer-horarios {
    display: none; }
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    font-size: 12px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: lighter; }
    .footer-social .footer-social-red {
      margin-right: 10px;
      margin-top: 10px; }
      .footer-social .footer-social-red .footer-social-red img {
        width: 13px;
        cursor: pointer; }
      .footer-social .footer-social-red .footer-social-red label {
        margin: 10px;
        cursor: pointer; } }

@media (max-width: 576px) {
  .body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 80px;
    grid-template-areas: "header" "main" "footer"; }
    .body .header {
      grid-area: header;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 184, 193, 0.7);
      position: fixed;
      width: 100%;
      height: 50px; }
    .body .main {
      grid-area: main;
      background-image: url("../assets/Fondo/Fondo 01.jpg"); }
    .body .footer {
      grid-area: footer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(212, 212, 212, 0.7); }
  /* MODIFICACIONES PARA EL HEADER */
  .encabezado-logo {
    margin-left: 10px;
    width: 40px; }
  .encabezado-titulo {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 100px;
    font-family: "Dancing Script", cursive; }
    .encabezado-titulo .titulo {
      font-style: italic;
      font-weight: bold;
      font-size: 25px; }
    .encabezado-titulo .subtitulo {
      font-style: italic;
      font-weight: lighter;
      font-size: 15px; }
  .pages {
    display: none; }
  .desplegable {
    display: flex;
    margin-right: 8%;
    font-family: 'Abel', sans-serif; }
  .nav {
    list-style: none; }
  .nav > li {
    float: left; }
  .nav li img:hover {
    background-color: #d4d4d4; }
  .nav-imagen {
    width: 40px; }
  .nav-pages {
    list-style: none;
    background-color: #d4d4d4; }
  .nav-pages li a {
    display: block;
    text-decoration: none;
    color: black; }
  .nav li ul {
    display: none;
    position: absolute; }
  .nav li:hover > ul {
    display: block; }
  /* MODIFICACIONES PARA CUERPO DE PAGINAS */
  #cuerpo-paginas {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    background-color: rgba(212, 212, 212, 0.3);
    font-family: 'ABeeZee', sans-serif;
    border-radius: 10px; }
  .cuerpo-paginas-titulo {
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 184, 193, 0.3); }
  /* CART DE PRODUCTOS */
  .cuerpo-paginas-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px; }
    .cuerpo-paginas-cart .cart {
      width: 200px;
      height: 400px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 30px 40px;
      margin-top: 25px;
      margin-bottom: 25px;
      background-color: rgba(212, 212, 212, 0.7);
      border-radius: 10px; }
      .cuerpo-paginas-cart .cart .cart-imagen-container {
        margin: 10px;
        margin-bottom: 0px;
        width: 180px;
        height: 180px;
        align-self: center;
        justify-self: center;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px; }
        .cuerpo-paginas-cart .cart .cart-imagen-container .cart-imagen {
          width: 100%;
          border-radius: 5px; }
      .cuerpo-paginas-cart .cart .cart-cuerpo {
        margin: 10px;
        margin-top: 5px; }
        .cuerpo-paginas-cart .cart .cart-cuerpo .cart-titulo {
          margin: 5px;
          font-size: 15px;
          font-weight: bold;
          text-align: center;
          text-decoration: underline; }
        .cuerpo-paginas-cart .cart .cart-cuerpo .cart-description {
          display: inline-block;
          list-style: none;
          margin: auto;
          font-size: 10px;
          text-align: left; }
      .cuerpo-paginas-cart .cart .container-precio {
        margin: 10px; }
        .cuerpo-paginas-cart .cart .container-precio .cart-precio {
          font-size: 15px;
          text-align: left;
          font-weight: bold; }
      .cuerpo-paginas-cart .cart .container-boton {
        margin: 10px;
        margin-bottom: 20px;
        align-self: center;
        justify-self: center; }
        .cuerpo-paginas-cart .cart .container-boton .cart-boton {
          padding: 5px;
          text-align: center;
          text-decoration: none;
          font-weight: lighter;
          font-size: 12px;
          color: black;
          width: 100px;
          height: 20px;
          background-color: rgba(224, 255, 255, 0.3);
          border-radius: 10px;
          border-style: none; }
  /* FORMULARIO DE CONTACTO */
  .container {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .formulario {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /*display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;*/
      flex-wrap: wrap;
      background-color: rgba(212, 212, 212, 0.7);
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px; }
      .container .formulario .formulario-texto {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 10px;
        margin-left: 25px;
        font-style: italic;
        font-weight: lighter; }
      .container .formulario .formulario-bloques {
        width: 90%;
        height: 25px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border: 0px;
        outline: 0px; }
      .container .formulario .mensaje {
        height: 150px; }
      .container .formulario .formulario-boton {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
        width: 20%;
        text-align: center;
        font-weight: lighter;
        border-color: #919191;
        border-style: solid;
        border-radius: 10px;
        background-color: rgba(212, 212, 212, 0.6);
        cursor: pointer; }
  /* MAIN DE CARRITO */
  .cuerpo-paginas-carrito {
    margin: 25px;
    text-decoration: none; }
    .cuerpo-paginas-carrito .seguir-comprando {
      text-decoration: none;
      color: black;
      text-align: left;
      font-style: italic;
      text-decoration: underline; }
    .cuerpo-paginas-carrito .carrito-productos {
      margin-top: 25px; }
      .cuerpo-paginas-carrito .carrito-productos .caja-productos {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin: 10px;
        background-color: rgba(212, 212, 212, 0.7);
        border-radius: 10px; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen {
          padding: 5px;
          padding-right: 15px; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-imagen .imagen img {
            width: 60px;
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 5px; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .caja-productos-textos {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 100%; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio {
          display: flex;
          justify-content: space-between; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .tiutloproducto {
            padding: 5px;
            font-size: 18px;
            text-decoration: underline; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-tiutloproducto-precio .precio {
            padding: 5px;
            font-size: 18px;
            font-weight: bold; }
        .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad {
          display: flex;
          justify-content: space-between; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .quitar {
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            border-radius: 0.6em;
            border: 0px;
            outline: 0px;
            text-align: center;
            background-color: inherit;
            color: #ff7a7a;
            text-decoration: underline; }
          .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad {
            padding: 5px; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .cantidad h6 {
              font-size: 12px;
              font-weight: lighter; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .restar {
              padding-left: 5px;
              padding-right: 5px;
              cursor: pointer;
              font-size: 20px;
              border-radius: 0.6em;
              border: 0px;
              outline: 0px;
              text-align: center;
              background-color: inherit;
              color: #ff7a7a; }
            .cuerpo-paginas-carrito .carrito-productos .caja-productos .textos-quitar-cantidad .cantidad .sumar {
              padding-left: 5px;
              cursor: pointer;
              font-size: 20px;
              border-radius: 0.6em;
              border: 0px;
              outline: 0px;
              text-align: center;
              background-color: inherit;
              color: #ff7a7a; }
    .cuerpo-paginas-carrito .linea {
      margin-left: 10px;
      margin-right: 10px;
      border: none;
      height: 3px;
      flex-shrink: 0;
      background-color: rgba(212, 212, 212, 0.7);
      list-style: none; }
    .cuerpo-paginas-carrito .subtotal-caja {
      list-style: none;
      margin: 0 10px 10px 10px; }
      .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos {
        display: flex;
        justify-content: flex-end;
        font-size: 18px;
        font-weight: bold; }
        .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .subtotal {
          padding: 5px;
          padding-right: 10%; }
        .cuerpo-paginas-carrito .subtotal-caja .subtotal-caja-elemntos .numero {
          padding: 5px; }
    .cuerpo-paginas-carrito .boton-comprar {
      padding-bottom: 25px;
      list-style: none;
      text-align: center; }
      .cuerpo-paginas-carrito .boton-comprar .boton {
        padding: 5px;
        cursor: pointer;
        font-size: 15px;
        outline: 0px;
        text-align: center;
        background-color: rgba(212, 212, 212, 0.7);
        border-radius: 5px; }
  /* MODIFICACIONES PARA EL FOOTER */
  .footer-logo-imagen {
    width: 60px; }
  .footer-logo-texto {
    display: none; }
  .footer-horarios {
    display: none; }
  .footer-social {
    width: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-content: center;
    margin-right: 10px; }
  .footer-social-red {
    margin-right: 10px;
    margin-top: 10px; }
  .footer-social-red img {
    width: 20px;
    cursor: pointer; }
  .footer-social-red label {
    display: none; } }
