                                            /* RESPONSIVE TABLET */

@media (max-width: 768px) {
    .body {
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 80px;
        grid-template-areas: 
        "header"
        "main"
        "footer";

        .header {
            grid-area: header;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color-header;
            position: fixed;
            width: 100%;
            height: 50px;
        }
        .main {
            grid-area: main;
            background-image: url("../assets/Fondo/Fondo\ 01.jpg");
        }
        .footer {
            grid-area: footer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: $background-color-footer;
        }
    }
    
    
                                                /* MODIFICACIONES PARA EL HEADER */
    .encabezado-logo {
        margin-left: 10px;
        width: 40px;
    }
    .encabezado-titulo {
        display: inline-block;
        list-style: none;
        text-align: center;
        width: 120px;
        font-family: $font-family-titulopagina;
        .titulo {
            font-style: italic;
            font-weight: bold; 
            font-size: 25px; 
        }
        .subtitulo {
            font-style: italic;
            font-weight: lighter; 
            font-size: 15px; 
        }
    }
    .pages {
        margin-right: 10px;  
        .pages-titulo {
            text-decoration: none;  
            color: black; 
            margin: 5px; 
            font-style: italic;
            font-family: 'Abel', sans-serif;
        }
    }
    .desplegable {
        display: none;
    }
    
                                                /* MODIFICACIONES PARA CUERPO DE PAGINAS */
    #cuerpo-paginas {
        margin-top: 40px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 40px;
        background-color: $background-color-cuerpopaginas;
        font-family: 'ABeeZee', sans-serif;
    }
    .cuerpo-paginas-titulo {
        text-align: center;
        font-size: 20px;
        background-color: $background-color-cuerpopaginastitulo;
    }
    
                                                /* CART DE PRODUCTOS */
    .cuerpo-paginas-cart {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px 20px;
        .cart {
            width: 200px;
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            margin-bottom: 25px;
            background-color: $background-color-cart;
            border-radius: 10px;
            .cart-imagen {
                margin-top: 10px;
                width: 180px;
                align-self: center;
            }
            .cart-cuerpo {
                margin: 10px;
                .cart-titulo {
                    margin: 10px;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                }
                .cart-description {
                    display: inline-block;
                    list-style: none;
                    margin: auto;
                    font-size: 12px;
                    text-align: left;
                }
                .cart-precio {
                    margin: 5px;
                    font-size: 15px;
                    text-align: left;
                    font-weight: bold;
                }
            }
            .cart-boton {
                margin: 5px;
                align-self: center;
                text-align: center;
                text-decoration: none;
                font-weight: bold;
                font-size: 15px;
                color: black;
                width: 100px;
                height: 20px;
                background-color: $background-color-cartbuttom;
                border-radius: 10px; border-style: solid; border-color: hsla(180, 100%, 94%, 0.1);
            }
        }
    }
    
    
                                                /* FORMULARIO DE CONTACTO */
    .formulario {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $background-color-grayprincipal;
        border-radius: 10px;
        .formulario-bloques {
            width: 90%;
            height: 30px;
            margin: 5px;
            border-radius: 5px;
            background-color: hsla(0, 0%, 100%, 0.5);
        }
        .mensaje {
            height: 100px;
        }
        .formulario-boton {
            margin-top: 5%;
            margin-bottom: 5%;
            height: 30px;
            width: 20%;
            text-align: center;
            font-weight: bold;
            border-color: hsl(0, 0%, 57%); border-style: solid; border-radius: 10px;
            background-color: hsla(0, 0%, 83%, 0.6);
        }
    }
    
    
                                                /* MAIN DE CARRITO */
    .cuerpo-paginas-carrito {
    margin: 25px;
    text-decoration: none;
    .seguir-comprando {
        text-decoration: none;
        color: black;
        text-align: left;
        font-style: italic;
        text-decoration: underline;
    }
    .carrito-productos {
        margin-top: 25px;
        .caja-productos{
            list-style: none;
            display: flex;
            justify-content: flex-start;
            text-align: left;
            margin: 10px;
            background-color: $background-color-grayprincipal;
            border-radius: 10px;
            .caja-imagen {
                padding: 5px;
                padding-right: 15px;
                .imagen img{
                    width: 60px;
                }
            }
            .caja-productos-textos {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
            }
            .textos-tiutloproducto-precio {
                display: flex;
                justify-content: space-between;
                .tiutloproducto {
                    padding: 5px;
                    font-size: 18px;
                    text-decoration: underline;
                }
                .precio {
                    padding: 5px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .textos-quitar-cantidad {
                display: flex;
                justify-content: space-between;
                .quitar {
                    padding: 5px;
                    cursor: pointer;
                    font-size: 12px;
                    border-radius: 0.6em;
                    border: 0px;
                    outline: 0px;
                    text-align: center;
                    background-color: inherit;
                    color: hsl(0, 100%, 74%);
                    text-decoration: underline;
                }
                .cantidad {
                    padding: 5px;
                    .cantidad h6 {
                        font-size: 12px;
                        font-weight: lighter;
                    }
                    .restar {
                        padding-left: 5px;
                        padding-right: 5px;
                        cursor: pointer;
                        font-size: 20px;
                        border-radius: 0.6em;
                        border: 0px;
                        outline: 0px;
                        text-align: center;
                        background-color: inherit;
                        color: hsl(0, 100%, 74%);
                    }
                    .sumar {
                        padding-left: 5px;
                        cursor: pointer;
                        font-size: 20px;
                        border-radius: 0.6em;
                        border: 0px;
                        outline: 0px;
                        text-align: center;
                        background-color: inherit;
                        color: hsl(0, 100%, 74%);
                    }
                }
            }
        }
    }
    .linea {
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        height: 3px;
        flex-shrink: 0;
        background-color: $background-color-grayprincipal;
        list-style: none;
    }
    .subtotal-caja {
        list-style: none;
        margin: 0 10px 10px 10px;
        .subtotal-caja-elemntos {
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            font-weight: bold;
            .subtotal {
                padding: 5px;
                padding-right: 10%;
            }
            .numero {
                padding: 5px;
            }
        }
    }
    .boton-comprar {
        padding-bottom: 25px;
        list-style: none;
        text-align: center;
        .boton {
            padding: 5px;
            cursor: pointer;
            font-size: 15px;
            outline: 0px;
            text-align: center;
            background-color: $background-color-grayprincipal;
            border-radius: 5px;
        }
    }
}
    

    
                                                /* MODIFICACIONES PARA EL FOOTER */
    .footer-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        margin-left: 10px;
        .footer-logo-imagen {
            width: 40px;
        }
        .footer-logo-texto {
            display: inline-block;
            list-style: none;
            text-align: center;
            width: 120px;
            font-family: $font-family-titulopagina;
            .logo-titulo {
                font-style: italic;
                font-weight: bold;
            }
            .logo-subtitulo {
                font-style: italic;
                font-weight: lighter; 
            }
        }
    }

    .footer-horarios {
        display: none;
    }
    
    .footer-social{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        font-size: 12px;
        font-family: 'ABeeZee', sans-serif;
        font-weight: lighter;
        .footer-social-red{
            margin-right: 10px;
            margin-top: 10px;
            .footer-social-red img {
                width: 13px;
            }
            .footer-social-red label {
                margin: 10px;
            }
        }
    }
}